.cabecalho_menu-amburguer{
width:24px;
height: 24px;
background-image:url(/imagens/Menu.svg.png);
display: inline-block;
background-repeat:no-repeat;
background-position:center;
}

.cabeçalho{
    background:var(--branco);
    display: flex;
    align-items:center;
}
.div-1{
     display:flex;
     justify-content:space-around ;
}
h1{ display:none;
}
@media screen and (min-width: 1024px){
    h1{
       display: block;font-size: 30px; ;
    }   
   }